body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.snap-button {
  /* float: right; */
  /* color: #e74944; */
  background-color: rgb(78, 114, 126);
  border-color: rgb(78, 114, 126);
  margin-top: 20px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
  /* font-size: 11px; */
}

.button-row {
  width: 150%;
  /* align-content: center; */
  text-align: center;
  /* background-color: grey; */
}

.delete-button {
  float: right;  
}

.results-table {
  width: 100%;
}

.bar-row {
  margin-top: 10px
}

.selector {
  font-size: 12px;
  width: 100%
}

.selector-row {
  margin-top:5px;
  margin-bottom: 5px
}

/* .selector-label  {
  font-size: 8;
} */

/* @media screen and (max-width: 600px) {
  .label {
    display: none;
  }
} */