.logo-photo {
    width:40%;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.tech-photo {
    width:80%;
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;

}