.results-button {
    font-size: 18px;
    background-color: rgb(78, 114, 126);
    color: white;
    border-radius: 5px;
    float: right;
}
#videoimage:after {
    position: absolute;
    padding: 0 0 0 0;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 40%;
    border: 4px dashed green;
    width: 60%;
    height: 30%;
    bottom: 0;
    left: 0; 
    content: '';
    pointer-events: none;
}

.modal-quantity-selector {
    font-size: 16px;
    width: 80%;
}

.modal-meal-selector {
    font-size: 16px;
    width: 100px;
}
