.results-button {
    font-size: 18px;
    background-color: rgb(78, 114, 126);
    color: white;
    border-radius: 5px;
    float: right;
}
#videoimage:after {
    position: absolute;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 25%;
    margin-bottom: 25%;
    outline-width: 2px;
    outline-style: dashed;
    outline-color: green;
    width: 60%;
    height: 40%;
    bottom: 0;
    left: 0; 
    content: '';
    pointer-events: none;
}
